.total_item{
    width: auto;
    height: 100%;
    /* display: flex;
    align-items: center; */
}

.total_item-inner{
    display: flex;
    justify-content: space-around;
}

.offer_slide{
    position:relative;
    display: block; 
    width: 1330px;
    height: 590px;
    box-sizing: border-box;
    align-items: center;
}
.offer_slide #imgs{
    width: 100%;
    height: 580px;
    object-fit: cover;
}
.offer_slide .descr{
   
    color: rgb(226, 226, 209);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    height:fit-content;
    background: rgb(89, 70, 87, 0.5);
    padding: 50px;
}
